@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import '../css/modern-normalize.css';

:root {
  --primaryButton: #2196f3;
  --primaryButtonHover: #006fc7;
  --primaryButtonText: #fff;
  --hover: #2196f3;
  --secondaryTextGray: #757575;
  --primaryText: #212121;
  --icon-gray: #afb1b8;
  --lightgray: #f5f4fa;
  --background: #fff;
  --heroBackground: #2f303a;
  --heroTextWhite: #fff;
  --textBold: 700;
  --white: #fff;
  --overlay-background: rgba(33, 150, 243, 0.9);
  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  list-style: none;
  color: var(--primaryText);

  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--background);
  margin: 0;
}

/* Header Start */
.header {
  border-bottom: 1px solid var(--lightgray);
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

/* Logo */
.header__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: var(--textBold);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primaryText);
  text-decoration: none;
}

.header__logo--accent {
  color: var(--hover);
}
/* --------------------- */

/* Navigation */

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--primaryText);
  letter-spacing: 0.02em;
}

.navigation__link--active {
  border-radius: 2px;
  position: absolute;
}

.navigation__link--active::after {
  content: '';
  border-radius: 2px;
  width: 53px;
  height: 4px;
  background-color: var(--hover);
  position: absolute;
  top: 28px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--hover);
  transition: var(--transition-cubic);
}
/* --------------------- */

.contact-links {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.contact-links__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  fill: var(--secondaryTextGray);
}

.contact-links__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondaryTextGray);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-links__link:hover,
.contact-links__link:focus {
  color: var(--hover);
  transition: var(--transition-cubic);
  fill: var(--hover);
}

.contact-links__icon:hover,
.contact-links__icon:focus {
  fill: var(--hover);
  transition: var(--transition-cubic);
}

.contact-links__item:hover,
.contact-links__item:focus {
  fill: #2196f3;
  color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------Header End------------ */

/* Section - Hero */
.hero {
  display: flex;
  justify-content: center;
  background: url('../images/header.png') rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--heroBackground);
}

.hero__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 600px;
  padding: 200px 0px 200px 0px;
  gap: 30px;
}

.hero__title {
  color: var(--heroTextWhite);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}

.hero__button {
  background-color: var(--primaryButton);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 43px 10px 43px;
  border-radius: 4px;
  border: 0;
  font-weight: var(--textBold);
  font-size: 16px;
  line-height: 1.87;
  color: var(--primaryButtonText);
}
.hero__button:hover {
  background-color: var(--primaryButtonHover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------Section - Hero End------------ */
